html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Global Styles 

    Colours: 

    #CED4D8;
    #265A8B;
    #FFF;
    #FF0000;
    #000;
    #C0C0C0;
    #4169E1
    #008000;
    #B81F24

*/

@font-face {
    font-family: 'marvelregular';
    src: url('./assets/marvel-webfont.woff2') format('woff2'),
         url('./assets/marvel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 125%;
}

body {
    background: radial-gradient(#CED4D8, #265A8B);
    height: 100%;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styling */

header {
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid #FFF;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #FFF;
    font-size: 4rem;
    font-family: 'marvelregular';
    text-transform: uppercase;
    text-shadow: 10px 0 0 #000;
}

.marvel {
    font-family: 'marvelregular', sans-serif;
    background: #ff0000;
    padding: 15px 20px 0;
    text-shadow: none;
}

p {
    width: 100%;
    margin: 10px auto;
    color: #000;
    font-size: 1rem;
    text-align: center;
    font-family: "Bangers", sans-serif;
    letter-spacing: 1.5px;
}

/* Main Styling */

main {
    background: #C0C0C0;
    height: 80%;
    border: 3px solid #FFF;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
}

.gameboard {
    margin: 0 auto;
    height: calc(75vh - 3rem);
}

#timer,
#moves {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0 5%;
    color: yellow;
    font-size: 1.5rem;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.innerGameboard {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    min-width: 275px;
    max-width: 550px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    position: relative;
    height: calc(50vw + 20px);
    min-height: 275px;
    max-height: 550px;
    background-color: #4169E1;
}

.characterCard {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transition: transform .5s;
    border: 4px solid rgba(255, 0, 0, 0);
}

.characterCard.flip {
    transform: rotateY(180deg);
}

.backCard,
.faceCard {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.backCard {
    transform: rotateY(0deg);
    transition: 0.5s;
}

.faceCard {
    transform: rotateY(180deg);
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    
}

.faceCard.flip {
    transform: rotateY(360deg);
    transition: 0.5s;
}

.backCard.flip {
    transform: rotateY(180deg);
    transition: 0.5s;
}

.matched {
    border: 4px solid #008000;
    opacity: 0.5;
}

.notMatched {
    border: 4px solid #ff0000;
}

.disabled {
    pointer-events: none;
}

.popup {
    height: 200px;
    width: 350px;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    text-align: center;
    font-family: "Bangers", sans-serif;
    border: 3px solid #000;
}

.popup h2 {
    background-color: #B81F24;
    color: #FFF;
}

.popup h3 {
    padding: 15px;
}

button {
    background-color: #B81F24;
    color: #FFF;
    border:2px solid #B81F24;
    padding: 10px;
    font-family: "Bangers", sans-serif;
    cursor: pointer;
}

button:active {
    background-color: #FFF;
    color: #B81F24;
}

/* Footer Styling */

footer {
    width: 100%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 3rem;
}

footer p {
    list-style: none;
    color: #FFF;
    font-size: 1rem;
}

footer a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}

/* Media queries styling */

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    #timer,
    #moves {
        font-size: 1rem;
    }

    .innerGameboard {
        width: 85vw;
        height: calc(85vw + 20px);
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: 2rem;
    }

    footer {
        font-size: 1rem;
    }
}